#parse("/array.java.vm")
#if ($packageName)
package $packageName;

#end##
import org.asite.automation.common.utils.ReportUtils;
import org.junit.AfterClass;
import org.junit.runner.RunWith;

import cucumber.api.CucumberOptions;
import cucumber.api.junit.Cucumber;

@RunWith(Cucumber.class)
@CucumberOptions(
        strict = $strict,
        features = {"$featureFile"},
        plugin = #stringArray($plugins),
        monochrome = $monochrome,
#if(!$featureFile.contains(".feature:") && $tags)
        tags = #stringArray($tags),
#end
        glue = #stringArray($glue))
public class $className {
	@AfterClass
	public static void attachShutDownHook() {
		Runtime.getRuntime().addShutdownHook(new Thread() {
			@Override
			public void run() {
				try {
					ReportUtils.executeReport();
				}
				catch (Throwable e) {
					System.out.println("Exception occurred: " + e.getLocalizedMessage());
					e.printStackTrace();
				}
			}
		});

	}
}
